.banner {
    background: #222222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px -10px 30px;
}

.banner h1 {
    color: white;
    font-size: 30pt;
    margin-left: 5%;
    display: inline-block;
}

.banner Img{
    display: block;
    float: right;
    right: 20px;
    height: 90px;
    padding: 10px 0;
}

h3 {
    color: #c4243f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23;
}

.paragraph {
    margin-bottom: 70px;
    margin-left: 5%;
}

.paragraph hr {
    margin-left: -5% !important;
}

body {
    margin: 0;
}